atomicwrites==1.4.0
attrs==20.3.0
backports.functools-lru-cache==1.6.1
browser==0.0.1
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
configparser==5.0.1
crayons==0.4.0
cssselect==1.0.3
EasyProcess==0.3
future==0.18.2
helpers==0.2.0
idna==2.10
iniconfig==1.1.1
lxml==4.5.0
packaging==20.8
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.1
pytest-rerunfailures==9.1.1
PyVirtualDisplay==0.2.4
requests==2.25.1
selene==2.0.0a34
selenium==3.141.0
six==1.15.0
toml==0.10.2
urllib3==1.26.2
webdriver-manager==3.2.2
